
*.egg
*.egg-info/
*.log
*.pid
*.pid.lock
*.py[cod]
*.pyd
*.pyo
*.seed
*.swo
*.swp
*~
.DS_Store
.DS_Store?
.Python
.Spotlight-V100
.Trashes
._*
.cache/
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea
.idea/
.installed.cfg
.next/
.npm/
.nuxt/
.nyc_output/
.output/
.parcel-cache/
.pnp.*
.rollup.cache/
.temp/
.tmp/
.turbo/
.venv/
.vercel/
.vscode
.vscode/
.webpack/
.yarn/
Desktop.ini
Thumbs.db
__pycache__/
build/
coverage/
develop-eggs/
dist/
downloads/
eggs/
ehthumbs.db
jspm_packages/
lib/
lib64/
logs
logs/
node_modules/
npm-debug.log*
out/
parts/
pids/
playwright-report/
playwright/.cache/
sdist/
storybook-static/
test-results/
var/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
